<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.notes.mapper.UserMapper">

    <!--<resultMap id="BaseResultMap" type="com.xxx.notes.entity.UserEntity">-->
        <!--<result column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="username" jdbcType="VARCHAR" property="username" />-->
        <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
        <!--<result column="nick_name" jdbcType="VARCHAR" property="nickName" />-->
    <!--</resultMap>-->

    <select id="findByUsernameAndPassword" resultType="com.xxx.notes.entity.UserEntity">
        select id,
                username,
                password,
                nick_name,
                create_time,
                update_time,
                del_flag
        from sys_user
        where username=#{username}
          and password=#{password}
    </select>

    <select id="findUserByNickNameLike" resultType="com.xxx.notes.entity.UserEntity">
        select id,
                username,
                password,
                nick_name,
                create_time,
                update_time,
                del_flag
        from sys_user
        where nick_name like CONCAT('%',#{nickName},'%')
    </select>

    <update id="updateByUserNameSelective" parameterType="com.xxx.notes.entity.UserEntity">
        update sys_user
        <set>
            <if test="password != null and password != ''"> password = #{password}</if>
            <if test="nickName != null and nickName != ''"> nick_name = #{nickName}</if>
            <if test="updateTime != null and updateTime != ''"> update_time = #{updateTime}</if>
            <if test="delFlag != null and delFlag != ''"> del_flag = #{delFlag}</if>
        </set>
        where username = #{username}

    </update>

</mapper>